body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #43bdad;
  text-decoration: none;
}

.text-secondary {
  color: #fca80f !important;
}

.text-primary {
  color: #43bdad !important; 
}

.text-success {
  color: #43bdad !important; 
}

.text-warning {
  color: #fca80f !important;
}

.btn-outline-warning {
  border-color: #fca80f;
  color: #fca80f;
}

.btn-success {
  background-color: #43bdad;
  border-color: #43bdad;
}

.btn-outline-success {
  border-color: #43bdad;
  color: #43bdad;
}

.text-bg-success {
  background-color: #43bdad !important;
}

.button-link-primary {
  background-color: #43bdad;
  color: white;
}

.img-responsive {
  width: 40vw;
}